/*Base*/
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?y3u2sp');
    src:    url('../fonts/icomoon.eot?y3u2sp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y3u2sp') format('truetype'),
    url('../fonts/icomoon.woff?y3u2sp') format('woff'),
    url('../fonts/icomoon.svg?y3u2sp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /*use !important to prevent issues with browser extensions that change fonts*/
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /*Better Font Rendering ===========*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    background: #7f7f7f;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.61em;
    margin: 0 auto;
    color: #000;
    background: url('../img/ignasi_pattern_s.png');

    /*Add ligatures to font style*/

    font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern=1", "liga=1";
    -ms-font-feature-settings: "kern", "liga";
    -o-font-feature-settings: "kern", "liga";
    -webkit-font-feature-settings: "kern", "liga";
}
h1, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
h1, p {
    text-align: center;
}
p {
    margin: 1em 1.8em;
}
a {
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    color: #00EEEE;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
a:active {
    color: #F00
}
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    border-radius: 5px;
}
span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0 .6em 0 0;
}
.app__div--container {
    width: 100%;
    margin: 0 auto;
}
.div--tint {
    background-color: #7f7f7f;
}
.white {
    color: #fff;
}

/* This is an image hack used to hide alt text in images. This replaces -9999px method. (Author: Jeff Zeldman)*/

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*Clearfix method when you want to extend background behind images.*/

.group:after {
    content: " ";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/*Header Content*/

.header__h1--name-header{
    margin: 0;
    padding : 1em 0 0 .8em;
}
.header__img--profile-picture {
    max-width: 250px;
}
.header__p--profile-content {
    padding: 0 1em;
}

/*Header Navigation*/

nav ul li {
    text-align: center;
    margin: .61em 0 0 0;
}
nav ul li a{
    display: block;
    padding: .61em 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
.nav__ul--nav-list {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    margin: 1em;

    display: flex;
    flex-direction: column;
}
.nav__ul--nav-list li {
    background-color: #333;
    border-radius: 5px;
}

/*Main Content*/

#portfolio, #skills {
    padding: 1.61em 0;
}
.main__div--main-content{
    -webkit-columns: 767px 1;
    -moz-columns: 767px 1;
    columns: 767px 1;
}
.main__p--sub-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
}

/*Skills Content*/

.skills__p--skills-image {
    margin: 0 auto;
}
.skills__li--skill-list-icon-html5, .skills__li--skill-list-icon-css3 {
    text-align: center;
}
.skills__li--skill-list-title-html5 {
    text-align: center;
    position: relative;
    left: -.4em;
    font-weight: bold;
}
.skills__li--skill-list-icon-html5 {
    margin: 0 0 1.61em 0;
}
.skills__li--skill-list-title-css {
    text-align: center;
    position: relative;
    left: -.35em;
    font-weight: bold;
}
.icon-css3:before {
    content: "\e902";
    font-size: 2em;
    line-height: 1.61em;
    color: #00f;
}
.icon-html5:before {
    content: "\e901";
    font-size: 2em;
    line-height: 1.61em;
    color: #f00;
}
.icon-name {
    display: inline-block;
    position: relative;
    top: -.5em;
    font-weight: bold;
}

/*Footer Content*/

.contact__p--contact-header {
    margin: 0;
    padding : 4em 0 1.5em .8em;
}
.contact__a--mobile-phone-link {
    display: inline-block;
}
.contact__p--footer-name, .contact__p--top-anchor {
    display: inline-block;
    padding: 1.6em 0
}
.contact__p--footer-name {
    margin: 0 0 0 1em;
}
.contact__p--top-anchor {
    margin: 0 1.5em 0 0;
}

/*Footer Navigation*/

.nav__ul--footer-nav, .contact__p--mobile-phone {
    display: none;
}
.nav__ul--footer-nav li {
    background-color: #7f7f7f;
}

@media screen and (min-width: 768px){

    /*Header Navigation*/

    nav ul li {
        text-align: center;
        padding: 1.61em 1em;
    }
    .nav__ul--nav-list{
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav__ul--nav-list li {
        background-color: #7f7f7f;
    }

    /*Header Content*/

    .header__img--profile-picture {
        float: right;
        margin: 0 3.3em 0;
    }
    .header__p--profile-content {
        position: relative;
        top: -2.7em;
        text-align: left;
        padding: 0 1.61em;
    }

    /*Main Content*/

    .main__div--main-content {
        -webkit-columns: 360px 2;
        -webkit-column-gap: .1em;
        -moz-columns: 360px 2;
        -moz-column-gap: .1em;
        columns: 360px 2;
        column-gap: .1em;
    }

    /*Contact Content*/

    .contact__p--contact-info {
        margin: 1em 6em;
    }
    .contact__a--mobile-phone-link {
        display: none;
    }
    .contact__p--mobile-phone {
        display: block;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
    }

    /*Footer Navigation*/

    .nav__ul--footer-nav {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-end;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav__ul--footer-nav li {
        padding: 1em 1em 0;
        margin: 0;
    }
    .contact__p--top-anchor {
        display: none;
    }
}

@media screen and (min-width: 1024px){

    /*Header Navigation*/

    #main-nav ul {
        float: right;
    }

    /*Header Content*/

    .header__h1--name-header {
        float: left;
        padding: 1.45em 0 0 1.7em;
    }
    .header__img--profile-picture {
        clear: both;
    }
    .header__p--profile-content {
        position: relative;
        top: 2.7em;
        clear: left;
        padding: 0 0 0 1.61em;
    }

    /*Main Content*/

    .main__div--main-content {
        -webkit-columns: 360px 3;
        -moz-columns: 360px 3;
        columns: 360px 3;
    }
}