//Variables

$white: #ffffff;
$grey: #7f7f7f;
$blue: #00f;
$red: #f00;
$black: #000;
$cyan: #00EEEE;
$defaultFontSize: 1em;
$subheadingFont: 1.3em;
$defaultFontFamily: 'Open Sans', sans-serif;
$icomoonFontPath: '../fonts/icomoon.';
$normal: normal;
$none: none;
$zeroAuto: 0 auto;
$featureSetting: "kern", "liga";
$transformScale: scale(1.2);
$column: column;
$contentColumnPhone: 767px 1;
$contentColumnTablet: 360px 2;
$contentColumnTabletGap: .1em;
$contentColumnDesktop: 360px 3;
$relative: relative;
$row: row;
$flexEnd: flex-end;
$tabletWidth: 768px;
$desktopWidth: 1024px;
$left: left;
$right: right;
$both: both;
$center: center;
$borderBox: border-box;
